@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebApplication Demo (MVC)</h1>
    <p class="lead">Learn how to use <a href="https://github.com/leocaan/APQuery.net" target="_blank">APQuery.net</a> in a Website project.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            First of all, GettingStarted help you understand how to initialize APQuery.net framework.
        </p>
        <p><a class="btn btn-default" href="Home/GettingStarted" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learning ORM</h2>
        <p>Next, Learning ORM teach you the usage of ORM.</p>
        <p><a class="btn btn-default" href="Home/LearnOrm" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learning SQL Expression</h2>
        <p>Learning SQL Expression teach you the usage of SQL Expression.</p>
        <p><a class="btn btn-default" href="Home/LearnSQLExpression" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
