@{
	Layout = "~/Views/Shared/_LayoutOrm.cshtml";
}

<h2>ORM Home</h2>
<div class="row">
	<ul>
		<li><a href="~/Orm/Dept">Department Search</a></li>
		<li><a href="~/Orm/Empl">Employee List</a></li>
	</ul>
</div>
